<!--CMPS3141-HCI - AS3-23S1
Collaborators:
Date: Sept.22.23
 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Expenses</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
	<!-- Replace cmps3141-as3-css_app-23s1 below with your repo name (cmps3141-as3-css_app-23s1-yourusername) so you can save!  -->
	<ma-data v-model="expenses" src="https://github.com/UB-CMPS3141/cmps3141-as3-css-app-23s1-georgie5/expenses/data.json"></ma-data>

	<!-- App YOUR UI here -->

	<section style="padding-bottom: 20px;"> 
		<h1>Task 2: Wireframe of app</h1>
	
		<h3>Add Expense</h3>
	   <form>
		   <table class="addexpensetable">
				<tr>
				   <td>
					   <label for="payer">Payer:</label>
				   </td>
				   <td>
					   <select v-model="form.payer">
						   <option :value=personA>{{personA}}</option>
						   <option :value=personB>{{personB}}</option>
						   <option value=joint>{{joint}}</option> 
					   </select>
				   </td>
			   </tr>
			   <tr>
				   <td>
					   <label for="payingTo">Payment For:</label>
				   </td>
				   <td>
					   <select v-model="form.payingTo">
						   <option :value=personB>{{personB}}</option>
						   <option value=Joint>{{joint}}</option> 
						   <option :value=personA>{{personA}}</option>
					   </select>
				   </td>
			   </tr>
			   <tr>
				   <td>
					   <label for="amount">Amount:</label>
				   </td>
				   <td>
					   <select v-model="form.currency">
						   <option value="$">$</option>
						   <option value="MXN">MXN</option> 
						   <option value="GTQ">GTQ</option>
					   </select>
					   <input type="number" min="0.00" v-model="form.amount" style="width: 80px;">
				   </td>
			   </tr>
			   <tr>
				   <td>
					   <label for="description">Description:</label>
				   </td>
				   <td>
					   <input type="text" v-model="form.description" placeholder="description">
				   </td>
			   </tr>
			   <tr>
				   <td>
					   <label for="pDate">Date of Payment:</label>
				   </td>
				   <td>
					   <input type="date" :max="nowDate" v-model="form.pDate">
				   </td>
			   </tr>
			   <tr>
				   <td>
					   <button v-on:click.prevent="addPayment" class="paymentButton">Add Payment</button>
				   </td>
			   </tr>
		   </table>
	   </form>
		<!-- Expense List -->
		<h2>Expense List</h2>
		<table class="expensetable">
			<thead>
				<tr>
					<th>Date</th>
					<th>Payer</th>
					<th>Paid To</th>
					<th>Amount</th>
					<th>Description</th>
					<th>{{personA}} Owes</th>
					<th>{{personB}} Owes</th>
				</tr>
			</thead>
		<tbody>
			<tr v-for="(expense, index) in expenses":key="expense.id">
				<td>{{expense.pDate}}</td>
				<td>{{expense.payer}}</td>
				<td>{{expense.payingTo}}</td>
				<td>{{expense.currency}} {{expense.formAmount}}</td>
				<td>{{expense.description}}</td>
				<td>$ {{expense.personAOwes}}</td>
				<td>$ {{expense.personBOwes}}</td>
			</tr>
	
		</tbody>
		</table>
		
		<!-- Balance Calculation -->
		<div id='balance'>
				<h2>Balance Calculation</h2>
				<p>Total {{personA}} owes: $ {{(totalPersonAOwes-totalPersonBOwes).toFixed(2)}} </p>
				<p>Total {{personB}} owes: $ {{(totalPersonBOwes-totalPersonAOwes).toFixed(2)}}</p>
		</div>

	</section>


	<!-- Delete this line when you write your actual UI -->
	<pre>{{ expenses }}</pre>
</div>

<script src="index.js" type="module"></script>

</body>
</html>
